.cart {
  background-color: #ffffff;
  padding: 20px;
  position: fixed;
  right: 28px;
  top: 96px;
  width: 30%;
  height: calc(100vh - 124px);
  border-left: 1px solid #ddd;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
}

.cart h2 {
  margin-bottom: 16px;
  text-align: center;
}

.cart-items {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: #f9f9f9;
}

.item-details {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.item-quantity {
  font-weight: bold;
  color: #333;
  margin-right: 8px; /* Khoảng cách giữa số lượng và tên sản phẩm */
}

.item-name {
  font-weight: bold;
  color: #333;
  flex-grow: 1; /* Để tên sản phẩm chiếm không gian còn lại */
}

.item-price {
  color: #007bff;
}

.checkout-btn {
  background-color: #007bff;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  margin-top: 10px;
  margin-bottom: 16px;
}

button:hover {
  background-color: #0056b3;
}

.remove-button {
  margin-left: 10px; /* Khoảng cách với các chi tiết khác */
  background: #ff4d4d; /* Màu nền đỏ */
  color: white; /* Màu chữ trắng */
  border: none;
  border-radius: 4px;
  cursor: pointer;
  padding: 5px 10px;
  transition: background-color 0.3s;

  &:hover {
    background-color: #ff1a1a; /* Màu khi hover */
  }
}
