/* ProductEditPopup.scss */
.product-edit-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.product-edit-modal-content {
  background-color: rgba(255,255,255,0.6);-webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  padding: 20px;
  border-radius: 10px;
  width: 900px;
  // height: 750px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
  overflow-y: auto;
}

.product-edit-modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #eee;
  margin-bottom: 15px;
}

.product-edit-modal-header h2 {
  font-size: 1.5rem;
  color: #333;
  margin: 0;
}

.product-edit-close-button {
  background: transparent;
  border: none;
  font-size: 24px;
  color: #ff6b6b;
  cursor: pointer;
  transition: color 0.3s;

  &:hover {
    color: #ff4d4d;
  }
}

.product-edit-modal-body {
  display: flex;
  flex-direction: column;
  width: 100%;
  flex-grow: 1;
  overflow-y: auto;
  margin-bottom: 15px;
}

.product-edit-modal-body form {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.product-edit-modal-body label {
  margin-bottom: 5px;
  font-weight: bold;
  color: #555;
}

.product-edit-modal-body input,
.product-edit-modal-body textarea {
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 15px;
  width: calc(100% - 24px);
  transition: border 0.3s, box-shadow 0.3s;

  &:focus {
    border-color: #007bff;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  }
}

.product-edit-modal-body textarea {
  height: 144px;
  resize: none;
}

.product-edit-modal-footer {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}

.product-edit-modal-footer button {
  margin-left: 10px;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.product-edit-modal-footer button.product-edit-save {
  background-color: #28a745;
  color: #fff;

  &:hover {
    background-color: #218838;
  }
}

.product-edit-modal-footer button.product-edit-cancel {
  background-color: #ff6b6b;
  color: #fff;

  &:hover {
    background-color: #ff4d4d;
  }
}
