.admin-layout {
  margin-top: 68px;
}

.toggle-nav-btn {
  margin: 10px; /* Thêm một chút margin cho nút */
  background-color: white;
  color: black !important;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  height: 40px;
  width: 40px;
  z-index: 1000; /* Đảm bảo nút hiển thị phía trên các thành phần khác */
  margin-top: calc(100vh - 68px * 2);
  position: fixed !important;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  :nth-child(1) {
    margin-top: 4px;
  }
}

.admin-nav {
  background-color: white;
  transition: transform 0.3s ease; /* Thêm hiệu ứng chuyển động */
  position: fixed; /* Giữ thanh điều hướng cố định */
  top: 0;
  left: 0;
  box-shadow: 3px 0 8px rgba(0, 0, 0, 0.1);
  width: 300px; /* Hoặc kích thước bạn mong muốn */
  height: 100%;
  margin-top: 68px;
  height: calc(100vh - 68px);
  transform: translateX(0); /* Hiển thị nav khi mở */

  &.shrink {
    transform: translateX(-100%); /* Ẩn nav khi đóng */
  }

  ul {
    list-style: none;
    padding: 0;
    li {
      margin: 20px;
      a {
        color: black;
        text-decoration: none;
        font-size: 18px;
        &:hover {
          color: rgb(148, 132, 132);
        }
      }
    }
  }
}

.admin-content {
  margin-left: 300px; /* Khoảng cách bên trái tương ứng với chiều rộng của nav */
  padding: 20px;
  transition: margin-left 0.3s ease;

  &.shrink {
    margin-left: 0; /* Đặt margin-left về 0 khi nav bị ẩn */
  }
}
