.header {
  position: fixed;
  top: 0;
  height: 68px;
  z-index: 3;
  background-color: #f8f9fa;
  border-bottom: 1px solid #ddd;
  width: 100%;

  .header-container {
    height: 68px;
    margin: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .logo {
    img {
      height: 80px; /* Điều chỉnh kích thước logo */
      width: auto;
      transition: background-color 0.3s ease, transform 0.3s ease;
      &:hover {
        transform: scale(1.15);
      }
    }
  }

  nav {
    .admin-icon {
      color: #007bff;
      display: flex;
      align-items: center;
      text-decoration: none;
      transition: background-color 0.3s ease, transform 0.3s ease;

      &:hover {
        color: #0086b3;
        transform: translateY(-2px)
      }

      svg {
        margin-left: 15px;
        transition: color 0.3s ease;
      }
    }
  }

  .login-section {
    display: flex;
    justify-content: center;
    align-items: center;
    .welcome-msg {
      padding-right: 20px;
      font-size: 22px;
      font-weight: bold;
      color: #343a40;
    }
    button {
      padding: 13px 17px;
      background-color: #007bff;
      color: white;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.3s ease, transform 0.3s ease;

      &:hover {
        background-color: #0056b3;
        transform: translateY(-2px);
      }
    }

    p {
      margin: 0;
      font-size: 22px;
    }
  }
}
