.loading {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; // Chiếm toàn bộ chiều cao viewport
  .loader {
    width: 120px;
    height: 22px;
    border-radius: 20px;
    border: 2px solid transparent; /* Xóa màu viền để nhìn rõ gradient */
    position: relative;
    overflow: hidden; /* Đảm bảo gradient không bị tràn ra ngoài */
  }

  .loader::before {
    content: "";
    position: absolute;
    margin: 2px;
    inset: 0 100% 0 0;
    border-radius: inherit;
    background: linear-gradient(
      90deg,
      #3498db,
      #e74c3c,
      #f1c40f,
      #2ecc71,
      #9b59b6
    ); /* Gradient */
    animation: l6 1s infinite;
  }

  @keyframes l6 {
    100% {
      inset: 0;
    }
  }
}

/* HTML: <div class="loader"></div> */
